*.o
*.obj
*.a
*.lib
*.gch
babel
babel.exe
babel-get/babel-get
babel-get/babel-get.exe
test/*/output
test/bronze/1810847C-0DC7-44D5-94EF-313A3E7AF257.iFiction
test/bronze/1810847C-0DC7-44D5-94EF-313A3E7AF257.jpg
test/sensory/GLULX-4-000329-5C2240F3.blorb
test/adrift/ADRIFT-500-8FAD-A170-4086-B29E-C46FEED294AA.iFiction
